.label {
    margin-bottom: 10px;
    padding: 8px;
    border-radius: 4px;
    outline: none;
  }
  .input {
    margin-bottom: 10px;
    padding: 8px;
    border: 1px solid grey;
    border-radius: 6px black;
    outline: none;
    padding: 5px;
  }
  .form {
    margin-bottom: 15px;
  }