.container {
    align-items:center;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 15px;
    max-width: 300px;
    justify-content: center;
  }
  
  .label {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 15px;
    width: 300px;
  }
  .input {
    margin-bottom: 15px;
    padding: 8px;
    border: 1px solid grey;
    border-radius: 6px black;
    outline: none;
  }